

/*
    1.COMMON CSS
    2.HELPER
    3.NAVBAR
    4.HOME
    5.ABOUT 
    6.SERVICES
    7.CLIENT
    8.PHOTOS
    10.FOOTER
    11.RESPONSIVE
*/

/*======================
        1.COMMON CSS
========================*/

body {
     font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 216, 216);
    z-index: 9999999;
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.back_top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 20px;
    transition: all 0.5s;
}

.back_top i {
    color: #fff;
    line-height: 35px;
    font-size: 32px;
    display: block;
}


/*==========================
        2.HELPER
============================*/

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #fff;
}

.h-100vh {
    height: 100vh;
}

.z-index {
    z-index: 2;
}

.clippath_none {
    clip-path: none !important;
}

.section-subtitle {
    max-width: 500px;
}

.btn {
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    letter-spacing: 0.6px;
    color: #fff;
    box-shadow: none !important;
    text-transform: uppercase;
    outline: none !important;
}

.btn-round {
    border-radius: 30px;
}

.btn-custom{
    border:1px solid;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    color: #f3f3f3;
}

.btn-outline-custom {
    border: 2px solid #f5f5f5;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-outline-custom {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/*==========================
        3.NAVBAR CUSTOM
============================*/

.custom-nav {
    background-color: transparent;
    padding: 20px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.custom-nav .navbar-nav li a {
    color: #fff !important;
    font-size: 15px;
    background-color: transparent !important;
    margin: 0 7px;
    letter-spacing: 0.05em;
    line-height: 24px;
    transition: all 0.5s;
    font-weight: 500;
}

.custom-nav .navbar-brand .logo-light,
.custom-nav .navbar-brand .logo-dark {
    height: 27px;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.custom-nav .navbar-brand {
    color: #fff !important;
    text-transform: uppercase;
}

.custom-nav .navbar-toggler {
    color: #fff;
    font-size: 35px;
    padding: 0px;
}

.custom-nav.stickyadd {
    background-color: #fff !important;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.050980392156862744);
    padding: 15px 0px;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: #000 !important;
}


/*===========================
        4.HOME
=============================*/

.header-bg-img {
    background-image: url(../img/katrina-4.jpeg);
    position: relative;
    background-size: cover;
   background-position: center center;
    background-repeat: no-repeat;
}
@media (max-width: 600px){
    .header-bg-img {
      background-position:40% 10%;
        max-width:100%;
        height:100vh;
    }
}
.header-content {
    max-width: 800px;
    margin-top:5rem;
}

.header-table-center {
    display:block;
    vertical-align: middle;
}

.header-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header-name {
    font-size: 64px;
    font-family: 'Leckerli One', cursive;
}

.header-desc {
    max-width: 500px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.75) !important;
}

.scroll_down {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
}

.scroll_down i {
    position: relative;
    -webkit-animation: bounce 2s infinite; 
    animation: bounce 2s infinite; 
    height: 44px;
    width: 28px;
    line-height: 54px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 10px;
}

.scroll_down i:after {
    content: "";
    position: absolute;
    top: 22px;
    left: 11px;
    border-radius: 2px;
    z-index: -1;
    bottom: 0px;
    transition: all .2s;
    height: 10px;
    width: 3px;
    background: #fff;
}





/*===========================
        5.ABOUT
=============================*/

.about-social li a {
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    line-height: 38px;
    transition: all 0.5s;
    text-align: center;
}



/*===========================
        7.CLIENT
=============================*/

.testi_boxes {
    max-width: 750px;
}

.client_review {
    font-size: 18px;
}

.client_name {
    font-size: 16px;
}

.testi_boxes .tam_testi_icon {
    font-size: 50px;
}

.owl-theme .owl-controls .owl-page {
    margin: 20px 0px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 6px;
    margin: 5px 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 20px;
}


/*===========================
        8.WORK
=============================*/

.work_menu li a {
    cursor: pointer;
    display: block;
    border-radius: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 16px;
    transition: all 0.5s;
    margin-top: 5px;
}

.work_menu a.active,
.work_menu a:hover {
    color: #fff !important;
}

.work_item {
    position: relative;
    padding: 15px;
}

.work_box {
    overflow: hidden;
    position: relative;
}

.work_box .work_img {
    position: relative;
    overflow: hidden;
}

.work_box .work_img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_img>img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}

.work_box .work_detail {
    opacity: 0;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_detail h4 {
    font-size: 18px;
}

.work_box .work_detail p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.work_box:hover .work_detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

.work_box:hover .work_img:after {
    background: rgba(0, 0, 0, 0.8);
}

.work_box:hover .work_img>img {
    transform: scale(1.05);
}

/*======================
8.Photos
=========================*/



.photos { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .photos img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
  }
  
  @media screen and (min-width: 768px) {
    .photos { 
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        margin-top: 10px;
        overflow: hidden;
      }
      
      .photos img { 
        width: 100%; 
        height: auto;
        transition: 500ms;
        margin-bottom: 10px;
        page-break-inside: avoid; /* For Firefox. */
        -webkit-column-break-inside: avoid; /* For Chrome & friends. */
        break-inside: avoid; /* For standard browsers like IE. :-) */
      }
  }
  
@media screen and (max-width: 767px) {
  
    .photos{ 
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
    .photos div { margin: 0; 
          width: 200px;
      }
   
    }
    @media screen and (max-width: 600px) {
        .photos{ 
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            margin:10px;
        }
    }

/*======================
        10.FOOTER
========================*/

.footer {
    padding: 70px 0px;
    background-color: #242424 !important;
}

.footer .footer-alt p {
    font-size: 16px;
}

.footer .footer-alt ul li a {
    border-radius: 50%;
    transition: all 0.5s;
    background-color: rgba(241, 241, 241, 0.08);
    width: 42px;
    height: 42px;
    display: block;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
}


/*===========================
        11.RESPONSIVE
=============================*/

@media (min-width: 200px) and (max-width: 768px) {
    .custom-nav {
        background-color: #fff !important;
        padding: 10px 0px !important;
    }
    .custom-nav .container {
        width: 85%;
    }
    .custom-nav .navbar-toggler {
        color: #000;
        font-size: 32px;
        border: none;
    }
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .navbar-nav li a {
        color: rgba(0, 0, 0, 0.6) !important;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }
    .h-100vh {
     height: 100vh;
        padding: 120px 0 140px;
    }
    .header-bg-img {
        clip-path: none;
        padding: 120px 0 140px;
    }
  
    .custom-nav .navbar-nav li a {
        margin: 0 0;
        line-height: 15px;
    }
    .header-name {
        font-size: 38px;
    }
    .clip-home{
        clip-path: none;
    }
    .description{
        order:2;
        margin:0;
    }
}
@media (max-width: 600px){
.img-thumbnail{
    max-width:100%;
}
}
@media (max-width: 2560px) {
    .home-bg .curv-img {
        bottom: -5px;
    }
}



ul.pattern {
    list-style: none outside none;
    margin: 0 0 0;
    overflow: hidden;
    padding: 0;
    border-radius: 0
}

ul.pattern li {
    float: left;
    margin: 2px
}

ul.pattern li a {
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 16px 16px 0;
    margin: 5px
}

